This will be the home page
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Welcome to Plummer</h2>
        <br>
        <h2>Plummer is a place where blah blah</h2>
        <form class="clearfix mb-4" action="POST">
          
          <div class="form-group">
            <label for="example-userName1">User Name</label>
            <input type="text" id="example-userName1" class="form-control" aria-describedby="userName1" placeholder="Enter User Name">
          </div>
          
          <div class="form-group">
            <label for="example-email">E-Mail</label>
            <textarea class="form-control" id="example-email" aria-describedby="example-email" placeholder="Enter E-Mail"></textarea>
          </div>

          <div class="form-group">
            <label for="example-password">Enter Password</label>
            <textarea class="form-control" id="example-password" aria-describedby="example-password" placeholder="Enter Password"></textarea>
          </div>


          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
        
      </div>
    </div>
    
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
